/* home page  starts */
@media (max-width :799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }


    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }


    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #product .pro-container {
        justify-content: center;
    }

    #product .pro {
        margin: 15px;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }




}

/* home page ends */


@media screen and (min-width:768px) {
    .filter-item {
        width: calc(50% - 30px);
    }
}

@media screen and (min-width:992px) {
    .filter-item {
        width: calc(33.33% - 30px);
    }
}

@media screen and (min-width:1200px) {
    .filter-item {
        width: calc(25% - 30px);
    }
}

@media (max-width:1369px) {
     .title h1 {
        text-align: justify;
    }

    .filter-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-items {

        display: block;
        justify-content: center;
        align-items: center;
    }

    .item-img img {
        width: 100%;
        object-fit: fill;
    }

    .filter-item {
        width: 60%;
    }

    .add-btn {
        text-align: center;
    }
}

@media (max-width:563px){
    .filter-item {
        width: 38%;
    }
}
@media (max-width:563px){
    .filter-item {
        width: 25%;
    }
}

/* shop page  starts*/
@media (max-width:688px) {
    .shop-page-title{
        display:flex;
        flex-direction: column;
    }
     .indicator {
        display: block;
        flex-direction: column;
        align-items: flex-start;
    }
    .product-field ul {
        width: 100%;
        display: block;
        /* flex-wrap: wrap; */
    }
    .product-field ul li {
        width: 80%;
        display: block;
        /* flex-wrap: wrap; */
    }
    
}
@media (max-width:520px){
    #first-table {
       
        width: 10%;
        display: flex;
        flex-wrap: wrap;
    }
}


/* shop page ends */
@media (max-width:1074px) and (min-width:689px) {
    .product-field ul li {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        
    }
}