* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Fira Sans', sans-serif; */
}

body{
    /* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Fira Sans', sans-serif; */
font-family: 'Poppins', sans-serif;
height: 100%;
width: 100%;
}

.container{
    height: 8vh;
    padding-bottom: 13px;
}
/* Navigation Bar begins */
.navbar{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
.navbar img:hover{
cursor: pointer;
}
/* Navigation Bar ends */

nav{
    font-size: 1.2rem;
flex: 1;
text-align: right;
padding: 11px ;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    align-items: center;
    margin-right :20px
}

a{
    text-decoration: none;
    color :#555;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    /* background-image: url('assets/xslider_1.jpg.pagespeed.ic.CEXIGQNAS5.jpg'); */
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* height: 400px; */
   

}

.col-2{
    flex: basis 100%;
    min-width: 800px;

}
/* .col-2 img{
    max-width: 100%;
    padding: 50px 0;
} */

.col-2 h1{
   position:absolute;
   left: 120px;
   top: 300px;
    font-size: 45px;
    line-height: 60px;
    margin: 25px 0px;
}
.col-2 h3{
    position:absolute;
    left: 120px;
    top: 230px;
     font-size: 25px;
     line-height: 60px;
     margin: 25px 0px;
 }
 

.btn{
    position:absolute;
    left: 120px;
    top: 380px;
    display: inline-block;
    background:#ff523b ;
    color: white;
    padding:18px 40px;
    margin: 30px 0;
    border-radius: 7px;
    transition: background 0.5s;

}
.btn:hover{
    background :#ed8e8e ;
}


.header{
    background: radial-gradient(#fff,#e4e4e4)
}
.header .row{
    margin-top: 7px;

}

.categories{
    margin: 70px 0;
}
.col-3{
    flex:30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 17px;
}

.col-3 img{
    width: 100%;

}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position :relative;
    line-height: 60px;
    color:#555;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
    font-size: 40px;
}
.title::after{
    content: '';
    background: #ff523b;
    width:100px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform : translate(-50%);
}

h4{
    color:#555;
    font-weight: normal;
}
.col-4 p{
    font-size :14px;
}

.rating a{
    color:#ff523b;
}

.col-4:hover{
    transform: translateY(-10px);
}


